@import 'tailwindcss';

#Navbar {
    padding-left: 6%;
}

#Navbar>a {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3vh;
    margin: 50px;
    /* width: auto; */
    border: 2px;
    border-color: black;
    border-style: dashed;
}